@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    background-color: rgb(131, 199, 136);
    color: #161717;
    height:auto;
    min-height:100vh;
}
/* Container styling */
.container {
    font-family: "UnifrakturMaguntia", cursive;
    max-width: 65vw;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 2em;
}


